.gridWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 50px;
    text-align: center;
    color: white;
    width: 85%;
    margin: auto;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.gridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    /* justify-content: center; */
}

.icon {
    width: 80px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .gridWrapper {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 30px;
        margin-top: 50px;
    }

    .gridWrapper p{
        font-size: 20px;
    }

    .icon {
        width: 60px;
    }

}