.faqWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
    font-weight: normal;
    padding: 0 50px;
}

.faqItem {
    background: #2C2A35; 
    color: white;
    padding: 40px 50px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.faqItem.active {
    background: white;
    color: black;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.answer {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.4;
    width: 80%;
    transition: all 0.3s ease;
}

.icon {
    font-size: 25px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 10px;
    background-color: white;
    color: black;
}

.faqItem.active .icon {
    transform: rotate(90deg);
    background-color: black;
    color: white;
}

.extraContent {
    margin-top: 20px;
}

.extraContentGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.extraCard {
    border-radius: 8px;
    padding: 1rem;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.extraCard h4 {
    border-bottom: 1px solid rgb(180, 180, 180);
    padding-bottom: 20px;
    font-size: 25px;
    margin-bottom: 15px;
}

.extraCard p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}


@media (max-width: 768px) {
    .faqWrapper {
        width: 100%;
        padding: 0 30px;
    }

    .faqItem{
        width: 100%;
        padding: 30px 30px;
    }


    .question {
        font-size: 20px;
    }

    .answer p{
        font-size: 17px;
        width: 100%;
    }

    .extraContentGrid {
        width: 125%;
        grid-template-columns: repeat(1, 1fr);
    }

    .extraCard {
        padding: 15px;
    }

    .cardTitle {
        font-size: 20px;
        padding-bottom: 15px;
    }

    .cardText {
        font-size: 16px;
    }

    .icon{
        font-size: 14px;
        transition: transform 0.3s ease;
        border-radius: 100px;
        padding: 8px;
    }
}