.trustedBySection {
    padding: 60px 20px;
    padding-bottom: 0;
    text-align: center;
}

.heading {
    font-size: 50px;
    width: 30%;
    margin: auto;
    margin-bottom: 60px;
    color: white;
}

.logosGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.logoWrapper {
    flex: 0 1 calc((100% - 2 * 24px) / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0);
    transition: box-shadow 0.7s ease 1s;
    min-width: 150px;
}

.logoWrapper:hover{
    box-shadow: 0 0px 15px rgba(255, 255, 255, 0.5);
    transition-delay: 0s; 
}

.logo {
    max-width: 100%;
    max-height: 60px;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 45px;
        width: 80%;
    }

    .logosGrid {
        width: 100%;
    }

    .logoWrapper {
        flex: 0 1 calc((100% - 2 * 24px) / 2);
    }
    
}