.gridCTA {
    width: 100%;
    padding: 40px 50px;
    background-color: #35343F;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gridCTA h2{
    color: #fff;
    margin-bottom: 20px;
    font-size: 40px;
}

.gridCTA p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.2;
}

.ctaButton {
    width: fit-content;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid white;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s ease;
    cursor: pointer;
}

.ctaButton:hover {
    background: #ffffff;
    color: #35343F;
}

@media screen and (max-width: 768px) {
    .gridCTA {
        padding: 20px;
    }
    .gridCTA h2 {
        font-size: 40px;
    }
    .ctaButton {
        padding: 10px 20px;
        font-size: 16px;
    }
    
}

@media screen and (min-width: 2000px) {
    .gridCTA {
        padding: 70px;
    }

    .gridCTA h2 {
        font-size: 50px;
    }
    .ctaButton {
        padding: 15px 30px;
        font-size: 20px;
    }
    .gridCTA p {
        font-size: 30px;
    }
}