.productSelect{
    position: fixed;
    bottom: 0;
    right: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    z-index: 999999;
}

.fullPageImage {
    width: 80%;
    margin: auto;
    height: auto;
    object-fit: cover; 
    display: block;
    margin-bottom: 130px;
}

@media screen and (max-width: 768px) {
    .fullPageImage {
        width: 91%;
        margin-top: 50px;
    }
}