.productSelect {
    position: fixed;
    bottom: 0;
    right: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    z-index: 999999;
}

.fullPageImage {
    width: 80%;
    margin: 0 auto;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 130px;
    border-radius: 20px;
  }

.floatingLikeButton {
    position: fixed;
    /* pins it to the viewport, not the page content */
    bottom: 20px;
    /* 20px from the bottom edge */
    right: 20px;
    /* 20px from the right edge */
    z-index: 9999;
    /* ensure it's above other elements */
}

/* The button styling itself */
.likeButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.likeButton img {
    width: 48px;
    height: 48px;
    transition: transform 0.2s ease;
}

.likeButton img:hover {
    transform: scale(1.1);
}

.floatingText{
    position: fixed;
    font-size: 17px;
    bottom: 20px;
    right: 80px;
    padding: 12px 15px;
    border-radius: 8px;
    z-index: 9999;
    background-color: #3F3E48;
    transition: opacity 0.3s ease;
    opacity: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.likeButton:hover ~ .floatingText {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .fullPageImage {
        width: 91%;
        margin-top: 50px;
    }
}