.introWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    padding: 50px;
    background-color: #0A0A0A;
}

/* 📌 Shapes */

.shape {
    position: absolute;
    width: 160px;
    opacity: 0.8;
}

.shape1 {
    top: 25%;
    left: 4%;
    transform: rotate(13deg) scale(0.8) !important;
}

.shape2 {
    top: 12%;
    right: 20%;
    transform: rotate(20deg) !important;
}

.shape3 {
    bottom: 16%;
    left: 14%;
    transform: rotate(-18deg) scale(1.2) !important;
}

.shape4 {
    bottom: 10%;
    right: 5%;
    transform: rotate(32deg) !important;
}


.content {
    max-width: 700px;
    z-index: 2;
}

.introWrapper h1 {
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 15px;
    font-family: 'FounderGrotesk_Medium';
}

.introWrapper p {
    font-size: 25px;
    margin-bottom: 30px;
}

/* CTA Button */
.ctaButton {
    display: inline-flex;
    align-items: center;
    padding: 14px 22px;
    font-size: 18px;
    border-radius: 50px;
    background: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}

.ctaButton:hover {
    background: var(--lime);
    color: white;
}

.arrow {
    margin-left: 10px;
    font-size: 22px;
}

@media screen and (min-width: 1550px) {
    .shape {
        width: 200px;
    }
    
}

@media (max-width: 1024px) {
    .introWrapper {
        padding: 30px;
    }

    .introWrapper h1 {
        font-size: 40px;
        line-height: 45px;
    }

    .introWrapper p {
        font-size: 18px;
    }

    .ctaButton {
        font-size: 16px;
    }

    .shape {
        width: 120px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    .ctaButton {
        font-size: 14px;
        padding: 12px 18px;
    }


    .shape1{
        top: 18%;
        left: 7%;
        width: 18vw;
    }

    .shape2{
        top: 13%;
        right: 8%;
        width: 20vw;
    }

    .shape3{
        bottom: 5%;
        left: 18%;
        width: 20vw;
    }
    
    .shape4{
        bottom: 15%;
        right: 8%;
        width: 20vw;
    }
}