.shapesContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.productPage h1 {
    font-size: 80px !important;
    font-weight: 100 !important;
    font-family: 'FounderGrotesk_Regular' !important;
    line-height: 1 !important;
}

.productGridWrapper {
    position: relative;
}

.productsGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    padding: 100px 50px;
    padding-top: 0;
}

.row {
    display: grid;
    gap: 20px;
}

.tagContent {
    display: grid;
    position: relative;
    z-index: 11;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px 0px 50px;
    margin-bottom: -70px;
}

.tagBarHeading {
    font-size: 60px;
    margin-bottom: 25px;
    margin-top: -18px;
}

.tagBarSubheading {
    font-size: 25px;
}

.tagBarWrapper {
    position: sticky;
    top: 0;
    padding: 100px 0px 70px 0px;
    background: linear-gradient(to bottom,rgba(10, 10, 10, 1) 50%, rgba(10, 10, 10, 0.85) 75%, rgba(255, 255, 255, 0) 100%);
    z-index: 10;
}

.tagBar {
    width: calc(100% - 90px);
    margin: auto;
    display: flex;
    overflow-x: auto;
    padding: 10px;
    border-radius: 100px;
    justify-content: space-between;
    background-color: #2C2C2D;
    bottom: 20px;
}

.tagBar::-webkit-scrollbar {
    display: none;
}

.tagButton {
    display: inline;
    white-space: nowrap;
    padding: 8px 16px;
    background: transparent;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
    white-space: nowrap;
    transition: background 0.3s ease, color 0.3s ease;
}


.activeTag {
    border: 1px solid white;
    background: white;
    color: black;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    display: inline;
    white-space: nowrap;
}

.landingMoment {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.landingContent {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    width: 45%;
}

.shape {
    position: absolute;
    width: 120px;
    opacity: 0.8;
}

.shape1 {
    top: 25%;
    left: 4%;
    transform: rotate(13deg) scale(0.8) !important;
}

.shape2 {
    top: 12%;
    right: 20%;
    transform: rotate(20deg) !important;
}

.shape3 {
    bottom: 16%;
    left: 14%;
    transform: rotate(-18deg) scale(1.2) !important;
}

.shape4 {
    bottom: 10%;
    right: 5%;
    transform: rotate(32deg) !important;
}

.imageRow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -7vw;
    gap: 40px;
    left: 0;

}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 10; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.7) 100%);
}

.imageRow img {
    width: 15%;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    .productsGrid {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
        padding: 30px;
        margin: auto;
    }

    .productPage h1 {
        font-size: 50px !important;
    }

    .row {
        grid-template-columns: 1fr !important;
    }

    .tagContent {
        grid-template-columns: 1fr;
        padding: 30px;
        padding-top: 100px;
        padding-bottom: 0;
        margin: auto;
        z-index: 999;
        margin-bottom: -50px;
    }
    .tagBarWrapper {
        position: sticky;
        top: 10;
        padding: 20px 0px;
        padding-top: 75px;
        background: linear-gradient(to bottom, rgba(10, 10, 10, 1) 50%, rgba(10, 10, 10, 0.85) 75%, rgba(255, 255, 255, 0) 100%);
    }

    .tagBar {
        width: calc(100% - 20px);
        margin: auto;
        display: flex;
        overflow-x: auto;
        padding: 10px;
        border-radius: 100px;
        justify-content: space-between;
        background-color: #2C2C2D;
        bottom: 20px;
    }

    .landingMoment {
        height: 100vh;
        width: 100vw;
    }

    .landingContent {
        width: 80%;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    .ctaButton {
        font-size: 14px;
        padding: 12px 18px;
    }


    .shape1 {
        top: 18%;
        left: 7%;
        width: 18vw;
    }

    .shape2 {
        top: 13%;
        right: 8%;
        width: 20vw;
    }

    .shape3 {
        bottom: 5%;
        left: 18%;
        width: 20vw;
    }

    .shape4 {
        bottom: 15%;
        right: 8%;
        width: 20vw;
    }

}

@media screen and (min-width: 2000px) {
    .productPage h1 {
        font-size: 100px !important;
    }

    .landingContent p{
        font-size: 35px;
    }

    .tagBarHeading {
        font-size: 40px;
    }

    .tagButton {
        font-size: 25px;
    }
    .tagBarSubheading {
        font-size: 30px;
    }
    .activeTag {
        font-size: 25px;
    }

}

@media screen and (min-width: 2000px) {
    .shape1 {
        width: 8vw;
    }

    .shape2 {
        width: 8vw;
    }

    .shape3 {
        width: 8vw;
    }

    .shape4 {
        width: 8vw;
    }

    .tagBarHeading {
        font-size: 80px;
    }
    .tagBarSubheading {
        font-size: 40px;
    }
}