.ctaWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin: auto;
    padding: 0px 50px;
    border-radius: 24px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.ctaBoxDark, 
.ctaBoxLight{
    padding: 55px 55px;
    border-radius: 24px;
    max-width: 500px;
}

.ctaBoxDark {
    color: white;
    background-color: #212121;
}

.ctaBoxLight {
    color: white;
    background-color: #212121;
}

h3 {
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 15px;
    line-height: 1;
}

p {
    font-size: 20px;
    margin-bottom: 25px;

}

.backLink {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 19px;
    display: inline-block;
    margin-left: -3px;
    transition: all 0.3s ease;
}

.ctaButtonBottom {
    background: white;
    color: black;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 19px;
    display: inline-block;
    margin-left: -3px;
    transition: all 0.3s ease;
}

.ctaButtonBottom:hover, 
.backLink:hover {
    background: var(--linear-gradient);
    color: white;
}

/* Responsive */
@media screen and (max-width: 900px) {
    .ctaWrapper {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 91%;
    }

    .ctaWrapper p{
        font-size: 20px;
    }

    .ctaWrapper h3{
        font-size: 30px;
    }

    .ctaBoxDark, .ctaBoxLight {
        padding: 30px;
        width: 75vw;
        margin: auto;
    }
}

@media screen and (min-width: 2000px) {
    .ctaWrapper {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }
    .ctaBoxDark, .ctaBoxLight {
        padding: 70px;
    }
    .ctaWrapper p{
        font-size: 25px;
    }
    .ctaWrapper h3{
        font-size: 45px;
    }
    .ctaButton {
        font-size: 25px;
        padding: 15px 30px;
    }
}