.ctaWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(300deg, #2FD4B2, #158671);
    padding: 80px 150px;
    color: white;
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    margin: 200px 0 100px 0;
    /* max-width: 1200px; */
}

.ctaContent {
    max-width: 50%;
    text-align: left;

}

.ctaContent h2 {
    width: 80%;
    font-size: 65px;
    margin-bottom: 15px;
}

.ctaContent p {
    width: 80%;
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: lighter;
}

.ctaButton {
    display: inline-flex;
    align-items: center;
    background: white;
    color: black;
    padding: 14px 22px;
    font-size: 18px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.ctaButton:hover {
    background: black;
    color: white;
}

.arrow {
    margin-left: 10px;
    font-size: 22px;
}

.ctaImages {
    width: 20%;
    height: 300px;
    position: relative;
}

.imageOne {
    width: 320px;
    position: absolute;
    top: -100px;
    transform: rotate(-20deg);
    right: 180px;
}

.imageTwo {
    width: 290px;
    position: absolute;
    bottom: -80px;
    right: 20px;

}

/* Responsive */
@media (max-width: 1230px) {
    .ctaWrapper {
        padding: 40px 100px;
    }

    .ctaContent {
        max-width: 65%;
        /* border: 1px solid blue; */
    }

    .imageOne {
        width: 240px;
        right: 100px;
        top: -60px;
    }

    .imageTwo {
        width: 240px;
        bottom: -40px;
    }
}

@media (max-width: 905px){
    .ctaWrapper{
        width: calc(100%);
        height: 450px;
        margin: 100px 0 50px 0;
        padding: 10px 30px 50px 30px;
        overflow: hidden;
    }

    .ctaContent{
        max-width: 100%;
    }

    .ctaContent h2{
        font-size: 40px;
        width: 100%;
    }

    .ctaContent p{
        font-size: 20px;
        width: 100%;
    }

    .ctaButton{
        font-size: 16px;
    }

    .ctaImages{
        /* display: none; */
    }

    .imageOne{
        display: none;
    }

    .imageTwo{
        width: 160px;
        bottom: -95px;
        right: 0px;
    }
}